.logo {
  background-color: rgba(30, 30, 30, 0.877);
  padding: 15px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;

  .logo-text {
    position: relative;
    width: fit-content;
  }
  p {
    font-size: calc(30px + (60 - 30) * ((100vw - 320px) / 1430));
    line-height: calc(42px + (80 - 42) * ((100vw - 320px) / 1430));
    font-weight: 500;
    color: #fff;
  }

  .logo-img {
    position: absolute;
    width: calc(42px + (80 - 42) * ((100vw - 320px) / 1430));
    top: 0px;
    right: -3px;
  }
}