.nav {
  flex-grow: 1;
  padding: 10px 15px 0px;

  .mobile-header {
    display: none;
    background-color: rgba(30, 30, 30, 0.877);

    .logo {
      justify-content: flex-start;
      padding: 15px;
      width: 100%;
    }
  }

  .filter-button {
    position: absolute;
    top: 35px;
    right: 20px;
    z-index: 200;
    display: none;
    transition: all .3s;

    &:hover {
      cursor: pointer;
    }

    &.active div:nth-child(1){
      transform: rotate(42deg) translate(4px, 5px);
      width: 100%;
    }
    &.active div:nth-child(2){
      opacity: 0;
    }
    &.active div:nth-child(3){
      transform: rotate(-42deg) translate(5px, -4px);
      width: 100%;
    }

  }

  @media (max-width: 1000px) {
    padding: 0px;

    .mobile-header,
    .filter-button {
      display: flex;
    }
  }
}

.nav-list {
  display: flex;
  gap: 5px;
  font-size: 1.2rem;
  font-family: var(--font-abel);
  align-items: center;
  width: 100%;
  padding: calc(15px + (28 - 15) * ((100vw - 360px) / 1400));
  border-radius: 11px;
  background-color: #f6f6f6;
  justify-content: space-between;
  position: relative;

  .button-home {
    border: 1.5px solid rgba(0, 0, 0, 0.7);
    background: rgba(199, 255, 231, 0.32);
    border-radius: 11px;
    padding: 5px 30px;
    font-family: var(--font-abel);
    font-size: calc(18px + (28 - 18) * ((100vw - 360px) / 1400));
    color: #000;
    font-weight: 400;
    transition: all 0.3s;

    &:hover {
      background: #1e1e1e;
      color: #f6f6f6;
    }

    @media (max-width: 600px) {
      padding: 5px 18px;
    }
  }

  .vertical-line {
    display: block;
    width: 2px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.25);

    @media (max-width: 1000px) {
      height: 26px;
      margin: 0 2px;
    }
  }

  .nav-list-new {
    font-weight: 400;
    font-size: calc(18px + (28 - 18) * ((100vw - 360px) / 1400));
    color: rgba(0, 0, 0, 0.9);
    width: fit-content;
    font-family: var(--font-abel);
  }

  @media (max-width: 1000px) {
    border-radius: 0px 0px 11px 11px;
    padding: 15px;
  }

  @media (max-width: 600px) {
    padding-bottom: 70px;
  }
}

.bell,
.bag,
.log-in {
  transition: all 0.3s;
  filter: invert(0%) sepia(94%) saturate(100%) hue-rotate(274deg) brightness(0%)
    contrast(90%);

  &:hover {
    cursor: pointer;
    filter: invert(0%) sepia(94%) saturate(7489%) hue-rotate(274deg)
      brightness(102%) contrast(40%);
  }

  height: 32px;

  @media (max-width: 1400px) {
    height: 25px;
  }

  @media (max-width: 600px) {
    height: 20px;
  }
}

.input-box {
  position: relative;
  border: 0px solid rgba(0, 0, 0, 0.8);
  border-radius: 11px;
  height: 60px;
  flex-grow: 0.4;

  img {
    position: absolute;
    left: 5px;
    top: 28%;
  }

  @media (max-width: 1400px) {
    height: 52px;
  }
  @media (max-width: 1000px) {
    position: absolute;
    width: 40%;
    height: 42px;
    top: -110%;
    right: 22%;

    img {
      height: 18px;
      width: 18px;
      top: 30%;
    }
  }

  @media (max-width: 600px) {
    width: 95%;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}

.input {
  width: 100%;
  height: 100%;
  border-radius: 11px;
  padding-left: 45px;
  font-family: var(--font-main);

  @media (max-width: 1000px) {
    padding-left: 32px;
  }
}
