.filter-store-item,
.filter-product-item {
  display: flex;
  align-items: center;
  gap: 15px;

  span {
    font-weight: 400;
    font-size: 20px;

    @media (max-width: 1200px) {
      font-size: 18px;
    }
  }

  @media (max-width: 1200px) {
    gap: 10px;
  }
}

.filter-item-box {
  border: 2px solid #fff;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: rgba(181, 181, 181, 0.35);

  @media (max-width: 1200px) {
    width: 26px;
    height: 26px;
  }

  picture {
    display: none;
    height: 11px;
  }
  img {
    display: none;
  }
}
.checked {
  background: rgba(255, 195, 139, 0.9);

  img,
  picture {
    display: block;
  }
}
