html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  min-height: 100vh;
}

.main-content {
  width: 75%;
  min-height: 100%;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main-aside {
  height: 100%;
}
