<section class="best-sellers-wrapper">
  <header class="best-sellers-header">
    <h2>Best Sellers</h2>
    <a href="./products.html">
      <span class="view-all"> View All </span>
    </a>
  </header>
  <div class="best-sellers-nav">
    <div class="buttons-group">
      @@loop('buttons.html', [ {"name":"All Products"}, {"name":"Chair"},
      {"name":"Table"}, {"name":"Sofa"}, {"name":"FootStool"}, {"name":"Office"}
      ])
    </div>
    <div class="sort-coner">
      <span>Sort by</span>
      <div class="select-wrapper" id="select-wrapper">
        <div class="sort-arrow">
          <img src="./img/global-images/arrow.png" alt="arrow" />
        </div>
        <span class="selected-item">Low-Hight</span>
        <ul class="select">
          <li>Low-Hight</li>
          <li>Hight-low</li>
          <li>Name</li>
          <li>Popularity</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="goods-wrapper second-swiper">
  <div class="swiper-wrapper">
    @@loop('card.html', './../helpers/goods.json')
  </div>
  <div class="scrollbar">
    <div class="swiper-scrollbar scrollbar"></div>
  </div>
</section>
