<nav class="nav" id="nav">
    <div class="mobile-header">
        @@include('./logo.html')
    </div>
    <ul class="nav-list">
        <li><a href="./index.html" class='button-home'> Home</a></li>
        <li><span class='vertical-line'></span></li>
        <li><a href="./about-page.html" class="nav-list-new"> New Items</a></li>
        <li class='input-box'>
            <input type="text" class="input" name="text" placeholder="Search For Products...">
           <img src="./img/global-images/search.svg" alt="search" height="24px">
        </li>
        <li><img src="./img/global-images/bell.svg" alt="bell" class="bell"></li>
        <li><span class='vertical-line'></span></li>
        <li><img src="./img/global-images/shopping-bag.svg" alt="bag" class="bag"></li>
        <li><span class='vertical-line'></span></li>
        <li><img src="./img/global-images/log-in.svg" alt="log-in-image" class="log-in"></li>
    </ul>
</nav>