<div class="offers">
  <h2 class="offers-header">
    Special Offers
    <figure class="flower-wrapper">
      <img src="./img/global-images/flower.png" alt="flower" />
      <img class="mark" src="./img/global-images/mark.png" alt="mark" />
    </figure>
  </h2>
</div>
<section class="offers-swiper-wrapper">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="offers-card swiper-slide">
        <div class="offers-card-offer">
          <h2>
            High Quality<br />
            Furniture
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur. Aenean lacus turpis vitae
            nisl pharetra a nibh sit fames.
          </p>
          <button>Explore Now</button>
        </div>
        <img src="./img/products/offers/prod-6.jpg" alt="offers image" />
      </div>
      <div class="offers-card swiper-slide">
        <div class="offers-card-discount">
          <h2>Discount Up to</h2>
          <span> 70% </span>
          <button>
            <div>
              <img src="./../../img/global-images/arrow.png" alt="arrow" />
            </div>
            <span>Lorem ipsum dolor sit amet</span>
          </button>
        </div>
        <img src="./img/products/offers/prod-4.jpg" alt="offers image" />
      </div>
      <div class="offers-card swiper-slide">
        <div class="offers-card-offer">
          <h2>
            High Quality<br />
            Furniture
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur. Aenean lacus turpis vitae
            nisl pharetra a nibh sit fames.
          </p>
          <button>Explore Now</button>
        </div>
        <img src="./img/products/offers/prod-5.jpg" alt="offers image" />
      </div>
      <div class="offers-card swiper-slide">
        <div class="offers-card-discount">
          <h2>Discount Up to</h2>
          <span> 70% </span>
          <button>
            <div>
              <img src="./../../img/global-images/arrow.png" alt="arrow" />
            </div>
            <span>Lorem ipsum dolor sit amet</span>
          </button>
        </div>
        <img src="./img/products/offers/prod-3.jpg" alt="offers image" />
      </div>
      <div class="offers-card swiper-slide">
        <div class="offers-card-offer">
          <h2>
            High Quality<br />
            Furniture
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur. Aenean lacus turpis vitae
            nisl pharetra a nibh sit fames.
          </p>
          <button>Explore Now</button>
        </div>
        <img src="./img/products/offers/prod-4.jpg" alt="offers image" />
      </div>
      <div class="offers-card swiper-slide">
        <div class="offers-card-discount">
          <h2>Discount Up to</h2>
          <span> 70% </span>
          <button>
            <div>
              <img src="./../../img/global-images/arrow.png" alt="arrow" />
            </div>
            <span>Lorem ipsum dolor sit amet</span>
          </button>
        </div>
        <img src="./img/products/offers/prod-5.jpg" alt="offers image" />
      </div>

    </div>

  </div>
  <div className='custom-buttons'>
      <div class="button-next">
        <img src="./../../img/global-images/arrow-right.svg" alt="arrow" class="swiper-arrow">
    </div>
      <div class="button-prev">
        <img src="./../../img/global-images/arrow-left.svg" alt="arrow" class="swiper-arrow">
      </div>
  </div>

</section>
